# Ignore model checkpoints
*.h5
*.keras
*.ckpt
checkpoint/

# Ignore dataset and uploaded files
dataset/
static/uploads/
__pycache__/
.env/
*.pyc
.DS_Store
env/
__pycache__/
*.pyc
*.pyd
*.dll
*.h5
*.keras
.DS_Store
